{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "1.0.3"}}},
  {erlcloud, {git, "https://github.com/gleber/erlcloud.git", {tag, "0.12.0"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
]}.

{relx, [{release, {memebot, "semver"}, [memebot, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
	{overlay, [{copy, "priv/memebot", "priv/memebot"},
		   {copy, "priv/ron-burgundy.jpg", "priv/ron-burgundy.jpg"}]}]
}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
